<div class="ui link cards">
    <% for (usr of likes) { %>
        <a class="ui teal centered card" href="/bg/<%= usr.login %>">
            <div class="image">
                <img src="/assets/pics/<%= usr.pp %>">
            </div>
            <div class="content">
                <span class="right floated">
                    <i class="fire teal icon"></i>
                    <span style="color:teal !important;"><%= usr.pop %></span>
                </span>
                <div class="header"><%= usr.prenom %> <%= usr.nom %><span style="font-weight:normal;">, <%= usr.age %></span></div>
                <div class="meta">
                    <span class="date"><%= usr.orientation %></span>
                </div>
                <div class="description">
                    <%= usr.bio %>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                        <%= usr.localisation %>
                </span>
            </div>
        </a>
    <% } %>   
</div>