<div class="ui link cards">
    <% for (usr of likes) { %>
        <a class="card" href="/bg/<%= usr.login %>">
                <div class="image">
                    <img src="/assets/pics/<%= usr.pp %>">
                </div>
                <div class="content">
                    <div class="header"><%= usr.login %></div>
                    <div class="meta">
                        <span class="date"><%= usr.prenom %> <%= usr.nom %></span>
                    </div>
                    <div class="description">
                            <%= usr.bio %>
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                            <%= usr.localisation %>
                    </span>
                </div>
            </a>
    <% } %>   
</div>