<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1BJh8Wr--cY3PkcqAdl1XIxfJdpNr72Q&libraries=places"></script>
<form onkeypress="return event.keyCode != 13;" action="/modify_profile" method="post" enctype="multipart/form-data" class="ui equal width form">
    <div class="fields">
        <div class="field">
            <label for="pp" class="ui icon button">
                <p><i class="cloud icon"></i> Photo de profil</p>
            </label>
            <input type="file" id="pp" name="pp" hidden>
        </div>
        <div class="field">
            <label for="p2" class="ui icon button">
                <p><i class="cloud icon"></i> Photo 2</p>
            </label>
            <input type="file" id="p2" name="p2" hidden>
        </div>
        <div class="field">
            <label for="p3" class="ui icon button">
                <p><i class="cloud icon"></i> Photo 3</p>
            </label>
            <input type="file" id="p3" name="p3" hidden>
        </div>
    </div>
    
    <div class="fields">
        <div class="field">
            <label>Pseudo</label>
            <input type="text" placeholder="<%= infos_user.login %>" name="login">
        </div>
        <div class="field">
            <label>Prenom</label>
            <input type="text" placeholder="<%= infos_user.prenom %>" name="prenom">
        </div>
        <div class="field">
            <label>Nom</label>
            <input type="text" placeholder="<%= infos_user.nom %>" name="nom">
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <label>Age</label>
            <input type="number" placeholder="<%= infos_user.age %>" min="16" max="80" value="" name="age">
        </div>
        <div class="field">
            <label>Localisation</label>
            <input type="text" id="lat" name="lat" hidden/>
            <input type="text" id="lng" name="lng" hidden/>
            <input type="text" id="txtPlaces" placeholder="<%= infos_user.localisation %>" name="localisation"/>
        </div>
    </div>

    <div class="fields">
        <div class="field">
            <label>Genre</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="genre">
                <i class="dropdown icon"></i>
                <div class="default text"><%= infos_user.genre %></div>
                <div class="menu">
                    <div class="item" data-value="Homme">Homme</div>
                    <div class="item" data-value="Femme">Femme</div>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Orientation sexuelle</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="orientation">
                <i class="dropdown icon"></i>
                <div class="default text"><%= infos_user.orientation %></div>
                <div class="menu">
                    <div class="item" data-value="Bi">Bi</div>
                    <div class="item" data-value="Hetero">Hetero</div>
                    <div class="item" data-value="Homo">Homo</div>
                </div>
            </div>
        </div>
    </div>

    <div class="field">
        <label>Bio</label>
        <textarea rows="2" placeholder="<%= infos_user.bio %>" name="bio"></textarea>
    </div>

    <div class="field">
        <label>Interets</label>
        <div class="ui fluid multiple search selection dropdown" placeholder="<%= interests %>">
            <input name="interests" type="hidden">
            <i class="dropdown icon"></i>
            <div class="default text"><%= interests %></div>
            <div class="menu">
                <% for (tag of tags) { %>
                        <div class="item" data-value="<%= tag.interest %>"><%= tag.interest %></div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="field">
        <label>E-mail</label>
        <input type="email" placeholder="<%= infos_user.email %>" name="email">
    </div>

    <div class="fields">
        <div class="field">
            <label>Nouveau mot de passe</label>
            <input type="password" placeholder="Mot de passe" name="password">
        </div>
        <div class="field">
            <label>Confirmation</label>
            <input type="password" placeholder="Mot de passe" name="confirm">
        </div>
    </div>
    
    <button type="submit" class="fluid ui teal submit button" value="submit">
        Modifier
    </button>
</form>
<script>
        $('.ui.dropdown').dropdown();
        $('.ui.multiple.search.dropdown').dropdown({allowAdditions: true});
</script>
<% if (!infos_user.localisation) { %>
    <script type="text/javascript" src="/assets/geo.js"></script>
<% } %>
<script type="text/javascript" src="/assets/geo_autocomplete.js"></script>
