<div class="ui teal centered card" style="width:500px; margin-top:30px;">
    <div class="ui image">
        <%  if (infos_user.online == 1) { %>
            <a id="online" class="ui teal right ribbon label" style="z-index:99">En ligne</a>
        <% } %>
        <div class="ui shape">
            <div class="sides">
                <div class="side active">
                    <img src="/assets/pics/<%= infos_user.pp %>">
                </div>
                <div class="side">
                    <img src="/assets/pics/<%= infos_user.p2 %>">
                </div>
                <div class="side">
                    <img src="/assets/pics/<%= infos_user.p3 %>">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <span class="right floated">
            <i class="fire teal icon"></i>
            <span style="color:teal !important;"><%= infos_user.pop %></span>
        </span>
        <div class="header"><%= infos_user.prenom %> <%= infos_user.nom %><span style="font-weight:normal;">, <%= infos_user.age %></span></div>
        <div class="meta">
            <span class="date">
                <%=  infos_user.genre %>, <%=  infos_user.orientation %>
            </span>
            <span class="right floated">
                <%= infos_user.login %>
            </span>
        </div>
        <div class="description">
            <%= infos_user.bio %>
        </div>
    </div>
    <div class="extra content">
        <%=  infos_user.localisation %>
        <span class="right floated">
            <%= interests %>
        </span>
    </div>
</div>
