<% include index_header %>
<div class="ui main container" style="text-align:center">
<input type="text" value="<%= infos_user.id %>" id="like_bg_id" hidden>
<button id="like" class="ui red large button" style="margin-bottom: 16px;">
<%  if (!liked) { %>
    <i class="heart outline icon"></i><span id="text">Liker</span>
<% } else { %>
    <i class="heartbeat icon"></i><span id="text">Ne plus liker</span>
<% } %>
</button>
<div class="ui teal centered card" style="width:500px; text-align:justify;">
    <div class="ui image">
        <%  if (infos_user.online == 1) { %>
            <a id="online" class="ui teal right ribbon label" style="z-index:99">En ligne</a>
        <% } %>
        <div class="ui shape">
            <div class="sides">
                <div class="side active">
                    <img src="/assets/pics/<%= infos_user.pp %>">
                </div>
                <div class="side">
                    <img src="/assets/pics/<%= infos_user.p2 %>">
                </div>
                <div class="side">
                    <img src="/assets/pics/<%= infos_user.p3 %>">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <span class="right floated">
            <i class="fire teal icon"></i>
            <span style="color:teal !important;"><%= infos_user.pop %></span>
        </span>
        <div class="header"><%= infos_user.prenom %> <%= infos_user.nom %><span style="font-weight:normal;">, <%= infos_user.age %></span></div>
        <div class="meta">
            <span class="date">
                <%=  infos_user.genre %>, <%=  infos_user.orientation %>
            </span>
        </div>
        <div class="description">
            <%= infos_user.bio %>
        </div>
    </div>
    <div class="extra content">
        <%=  infos_user.localisation %>
        <span class="right floated">
            <%= interests %>
        </span>
    </div>
</div>
<div class="ui four column grid">
    <div class="column"></div>
    <div class="column">
        <form action="/block" method="post" class="ui form">
            <input type="text" value="<%= infos_user.id %>" name="bg_id" hidden>
            <button type="submit" class="ui fluid black button">
            <%  if (!blocked) { %>
                <i class="lock icon"></i><span id="text">Bloquer</span>
            <% } else { %>
                <i class="lock icon"></i><span id="text">Debloquer</span>
            <% } %>
            </button>
        </form>
    </div>
    <div class="column">
        <form action="/report" method="post" class="ui form">
            <input type="text" value="<%= infos_user.id %>" name="bg_id" hidden>
            <button type="submit" class="ui fluid grey button">
            <%  if (!reported) { %>
                <i class="minus circle icon"></i><span id="text">Signaler</span>
            <% } else { %>
                <i class="minus circle icon"></i><span id="text">Ne plus signaler</span>
            <% } %>
            </button>
        </form>
    </div>
    <div class="column"></div>
</div>
</div>
<% include footer %>