<% include header %>
<div class="ui grid">
    <% if (!matchs[0]) { %>
        <h1>Aucun match desole</h1>
    <% } else { %>
        <div class="four wide column">
            <div class="ui vertical fluid pointing menu">
                <% let i = 0;
                    for (bg of matchs) {
                        if (i == 0) { %>
                            <a class="item active" data-tab="<%= bg.id %>">
                                <img class="ui avatar image" src="/assets/pics/<%= bg.pp %>">
                                <%= bg.prenom %> <%= bg.nom %>
                            </a>
                        <% } else { %>
                            <a class="item" data-tab="<%= bg.id %>">
                                <img class="ui avatar image" src="/assets/pics/<%= bg.pp %>">
                                <%= bg.prenom %> <%= bg.nom %>
                            </a>
                        <% } %>
                    <% i++;
                    } %>   
            </div>
        </div>
        <div class="twelve wide stretched column">
            <div class="ui">
                <% i = 0;
                    for (bg of matchs) {
                        if (i === 0) { %>
                            <div class="ui tab active" data-tab="<%= bg.id %>">
                        <% } else { %>
                            <div class="ui tab " data-tab="<%= bg.id %>">
                        <% } %>
                                <div id="msgform<%= bg.id %>" class="ui form" style="margin-bottom:1rem;">
                                    <input type="text" id="bg" value="<%= bg.id %>" hidden />
                                    <div class="field"><input type="text" id="m" placeholder="Dit bonjour, ne soit pas timide ;)" autofocus></div>
                                    </div>
                                <div id="messages<%= bg.id %>" class="ui grid" >
                                    <% messages.forEach(msg => { %>
                                        <% if (msg.user_id === user.id && msg.bg_id === bg.id) { %>
                                            <div class="row">
                                                <div class="right floated ten wide column">
                                                    <div class="ui large blue message"><%= msg.message %></div>
                                                </div>
                                            </div>
                                        <% } else if (msg.user_id === bg.id && msg.bg_id === user.id) {%>
                                            <div class="row">
                                                <div class="left floated ten wide column">
                                                    <div class="ui large green message"><%= msg.message %></div>
                                                </div>
                                            </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                            </div>
                    <% i++;
                    } %>
            </div>
        </div>
    <% } %>
</div>
<script>
    $('.menu .item').tab();
</script>
<script src="/assets/client_chat.js"></script>
<script>
    var startTchat;
    var nb_notifs = <%= nb_notifs %>;
    if (nb_notifs > 0) $('.displayNotifs').css('display', 'block');

    (function($) {
        var socket = io.connect('http://127.0.0.1:6969');

        startTchat = function(user_id, token){
            socket.emit('login', {
                id: user_id,
                token: token
            });
        }

        <% for (bg of matchs) { %>
            $('#msgform<%= bg.id %> #m').keypress(function (e) {
                if (e.which == 13) {
                    socket.emit('newmsg', {
                        message: $('#msgform<%= bg.id %> #m').val(),
                        bg_id: $('#msgform<%= bg.id %> #bg').val()
                    })
                    message: $('#msgform<%= bg.id %> #m').val('')
                    message: $('#msgform<%= bg.id %> #m').focus()
                }
            });
        <% } %>

        socket.on('logged', () => {
            console.log("LOGGED IN -> SUCCESS")
        })

        socket.on('mybad', (error) => {
            console.error(error)
        })

        socket.on('connect_error', function() {
            console.log('Got disconnect!');
            socket.disconnect();
        });

        socket.on('notif', (notif) => {
            console.log("Notif: ")
            console.log(notif)
            nb_notifs++
            if ($('.displayNotifs').css('display') == 'none') $('.displayNotifs').css('display', 'block');
            $('#nb_notifs').text(nb_notifs);
        })

        socket.on('mymsg', (message) => {
            //console.log(message)
            let id = '#messages'+message.bg_id
            let html_append = '<div class="row"><div class="right floated ten wide column"><div class="ui large blue message">'+message.message+'</div></div></div>'
            $(id).prepend(html_append)
        })

        socket.on('newmsg', (message) => {
            //console.log(message)
            let id = '#messages'+message.user.id
            $(id).prepend('<div class="row"><div class="left floated ten wide column"><div class="ui large green message">'+message.message+'</div></div></div>')
        })
    })(jQuery);

    startTchat(<%= user.id %>, "<%= user.token %>");
</script>
</div>
</body>
</html>