</div>
</div>
</div>
<footer>
  <span>2018 © Matcha, by Victor Baudot</span>
</footer>
<script>
    let i = 0
    $('.side').click(() => {
        if (i == 0) {
            $('.online').hide()
            i++
        }
        else if (i == 2) {
            $('.online').fadeIn(500)
            i = 0
        } else i++
        $('.shape').shape('flip right');
    })
    var startTchat;
    var nb_notifs = <%= nb_notifs %>;
    var title = "<%= title %>";
    if (nb_notifs > 0) $('.displayNotifs').css('display', 'block');
    (function($) {
        var socket = io.connect('http://127.0.0.1:6969');

        let startTchat = (user_id, token) => {
            socket.emit('login', {
                id: user_id,
                token: token
            });
            if (title !== "Profil" && title !== "Accueil" && title !== "Chats" && title !== "Notifs") {
                socket.emit('visit', {
                    user_id: <%= user.id %>,
                    bg_id: $('#like_bg_id').val()
                })
            }
        }
        
        $('#like').on('click', (e) => {
            e.preventDefault()
            socket.emit('like', {
                user_id: <%= user.id %>,
                bg_id: $('#like_bg_id').val()
            })
            if ($('#like #text').text() === "Liker"){
                $('#like #text').text("Ne plus liker")
                $('#parentimg').find("#overimg").remove()
                $('#parentimg').append('<img id="overimg" src="/assets/pics/like.png">')
            }
            else {
                $('#parentimg').find("#overimg").remove()
                $('#like #text').text("Liker")
            }
        })

        socket.on('logged', () => {
            console.log("LOGGED IN -> SUCCESS")
        })

        socket.on('online', (login) => {
            console.log(login + " is connected")
        })

        socket.on('mybad', (error) => {
            if (error) console.log(error)
        })

        socket.on('connect_error', function() {
            console.log('Got disconnect!');
            socket.disconnect();
        });

        socket.on('notif', (notif) => {
            console.log("Notif: ")
            console.log(notif)
            nb_notifs++
            if ($('.displayNotifs').css('display') == 'none') $('.displayNotifs').css('display', 'block');
            $('#nb_notifs').text(nb_notifs);
        })

    startTchat(<%= user.id %>, "<%= user.token %>");
    })(jQuery);

</script>
</body>
</html>