<% include header %>
<% if (!notifs[0]) { %>
  <h1>Aucune nouvelle notification</h1>
<% } else { %>
    <div class="ui divided link items">
        <% notifs.forEach(notif => { %>
        <a class="item" href="/bg/<%= notif.login %>">
          <div class="ui tiny image">
            <img src="<%= notif.pp %>">
          </div>
          <div class="middle aligned content">
            <div class="header">
                <i class="favorite icon"></i>
                <%= notif.prenom %> <%= notif.nom %><%= notif.msg %>
            </div>
            <div class="extra">
              <div class="metadata">
                <span class="date"><%= notif.sentat %></span>
              </div>
            </div>
          </div>
        </a>  
      <% }) %>
      </div> 
  <% } %>
<% include footer %>